---
import CardWrapper from "./CardWrapper.astro";
import { Icon } from "astro-icon/components";
---

<CardWrapper name="brewfiles">
  <div class="grid gap-4 place-items-center place-content-center">
    <Icon name="brewfiles" size={120} />
    <p class="text-xl">brewfiles.com</p>
  </div>
</CardWrapper>
