---
import type { PersonalitySummary } from "@/types/brews";
import CardWrapper from "./CardWrapper.astro";

type Props = {
  totalPackagesUploaded: PersonalitySummary["totalPackagesUploaded"];
  totalPackagesUploadedComparison: PersonalitySummary["totalPackagesUploadedComparison"];
};

const { totalPackagesUploadedComparison, totalPackagesUploaded } = Astro.props;

const processedRank = () => {
  const isAboveAverage =
    totalPackagesUploaded > totalPackagesUploadedComparison;

  return {
    measurement: {
      spatial: isAboveAverage ? "above" : "below",
      quantitative: isAboveAverage ? "more" : "fewer",
    },
    difference: isAboveAverage
      ? totalPackagesUploaded - totalPackagesUploadedComparison
      : totalPackagesUploadedComparison - totalPackagesUploaded,
  };
};
---

<CardWrapper name="ranking">
  <div class="grid gap-4 place-items-center place-content-center">
    <p class="text-white/70 text-pretty">
      With {totalPackagesUploaded} packages installed, you’ve installed {
        processedRank().difference
      }
      {processedRank().measurement.quantitative} packages when compared to the average
      uploader.
    </p>
    <p
      class="text-xl uppercase text-balance leading-heading tracking-widest font-mono"
    >
      {processedRank().difference}
      {processedRank().measurement.spatial} average
    </p>
  </div>
</CardWrapper>
