---
import CardWrapper from "./CardWrapper.astro";

type Props = {
  title: string;
  content: string;
};

const { title, content } = Astro.props;
---

<CardWrapper name="stat">
  <div class="grid gap-4 place-items-center place-content-center">
    <p
      class="text-xl uppercase text-balance leading-heading tracking-widest font-mono"
    >
      {title}
    </p>
    <p class="text-white/70 text-pretty">{content}</p>
  </div>
</CardWrapper>
