---
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";
import Link from "../ui/Link.astro";
import LeaderboardList from "./LeaderboardList.astro";
---

<section class="container" aria-label="Brewfiles Leaderboard">
  <div class="grid gap-20">
    <div class="flex justify-between items-end flex-wrap md:flex-nowrap">
      <Heading
        tagType="h2"
        size="xl"
        classes="flex items-center flex-wrap gap-2 text-4xl md:text-7xl max-w-sm md:max-w-heading"
      >
        <div class="flex gap-4 items-center">
          <div
            class="px-6 py-3 md:px-12 md:py-6 bg-accent-bluemedium rounded-lg max-w-fit"
          >
            <Icon name="trophy" width={59} height={47} aria-hidden="true" />
          </div>
          <span>Who’s</span>
        </div>
        <span>in the lead?</span>
      </Heading>
      <Link
        id="leaderboardLink"
        href="leaderboard"
        size="large"
        classes="-ml-4 md:ml-0 pl-4 pr-8 py-3 md:px-8 md:py-3 gap-2 md:gap-4 text-lg md:text-xl"
        variant={"text"}
      >
        <span>See Full Leaderboard</span>
        <div
          class="bg-white/7 size-9 grid place-items-center rounded-full -mr-5 shrink-0"
        >
          <Icon name="external-link" size={13} aria-hidden="true" />
        </div>
      </Link>
    </div>
    <div class="grid gap-6">
      <div class="flex justify-between text-white/50">
        <div class="flex gap-4">
          <p class="sm:w-32 md:w-36 pl-2">Rank</p>
          <p>Package</p>
        </div>
        <p class="pr-2">Downloads</p>
      </div>
      <LeaderboardList />
    </div>
  </div>
</section>
