---
import { getRandomNumber, getRandomWord } from "@/lib/getRandomValue";
import type { PackageCounted } from "@/types/packageEntry";

interface Props extends PackageCounted {
  isLast?: boolean;
}

const { rank, downloads, name, isLast } = Astro.props;
---

<li class="relative @container">
  {
    !isLast && (
      <div class="absolute -bottom-2 border-b border-white/15 w-[2200px] -ml-[20%]" />
    )
  }
  <div
    id={`${rank}`}
    class="sm:p-2 relative flex justify-between items-center group font-mono hover:bg-white/5 rounded-xl sm:rounded-3xl ring-accent-bluemedium focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 ring-offset-bkg @sm:text-lg @lg:text-2xl @2xl:text-4xl"
    data-row
  >
    <div class="flex gap-4 sm:gap-8 items-center">
      <p
        class="text-white/50 px-4 py-3 sm:px-8 sm:py-6 bg-white/5 max-w-fit rounded-xl sm:rounded-2xl leading-none"
      >
        {rank.toString().padStart(2, "0")}
      </p>
      <p class="uppercase tracking-widest break-all pr-4 sm:pr-2">
        {name ? name : setTimeout(() => getRandomWord(), 60)}
      </p>
      <div
        class="items-center opacity-0 absolute inset-0 sm:inset-auto sm:static sm:opacity-100 hover:bg-white/20 sm:hover:bg-transparent sm:hidden group-hover:sm:flex gap-2 shrink-0 pr-8 text-base"
      >
        <a
          class="absolute inset-0 opacity-0 sm:opacity-100 sm:inset-auto sm:static flex items-center gap-2 sm:max-w-fit focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg py-2 px-4 bg-white/10 hover:bg-white/20 ring-accent-bluemedium rounded-full"
          data-packageNameLink
          target="_blank"
        >
          Explore tool
        </a>
        <a
          class="hidden sm:flex items-center gap-2 max-w-fit focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg py-2 px-4 bg-white/10 hover:bg-white/20 ring-accent-bluemedium rounded-full"
          href="/"
          data-packageFilterLink
        >
          See users
        </a>
      </div>
    </div>
    <p
      class="uppercase tracking-widest mr-3"
      id={`downloads-${rank}`}
      data-downloadValue
    >
      {downloads ? downloads : setTimeout(() => getRandomNumber(), 60)}
    </p>
  </div>
</li>
