---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BrewfilesRoute from "@/components/brewfiles/BrewfilesRoute";
---

<BaseLayout title="Submitted Brewfiles">
  <div class="container grid gap-6 sm:gap-12">
    <BrewfilesRoute client:only="react" />
  </div>
</BaseLayout>
