---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Input from "@/components/ui/Input.astro";
import BrewCard from "@/components/brewfiles/BrewCard.astro";
import type { BrewsItem } from "@/types/brews";

const url = new URL(Astro.request.url);
const filter = url.searchParams.get("package") || "";

const docs = await fetch(`${Astro.url.origin}/api/getBrewfiles.json`);
const brews = await docs.json();

const filteredBrews = brews.brews.filter((b: BrewsItem) =>
  b.data.some((i) => i.name.includes(filter))
);
---

<BaseLayout>
  <Input filter={filter} />
  <div
    class="container grid gap-8 sm:grid-cols-2 md:grid-cols-3 items-start"
    id="brewfiles-grid"
  >
    {filteredBrews.map((doc: BrewsItem) => <BrewCard item={doc} />)}
  </div>
</BaseLayout>

<script>
  const brewfilesGrid = document.getElementById(
    "brewfiles-grid"
  ) as HTMLDivElement;

  brewfilesGrid?.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    const isInfoButton = target.hasAttribute("data-infobtn");
    if (isInfoButton) {
      const expanded = target.getAttribute("aria-expanded");
      if (expanded === "false") {
        target.setAttribute("aria-expanded", "true");
        target.setAttribute("aria-pressed", "true");
      } else {
        target.setAttribute("aria-expanded", "false");
        target.setAttribute("aria-pressed", "false");
      }
    }
  });
</script>

<!--         <p class="font-mono text-3xl uppercase tracking-widest">
          No brewfiles found
        </p> -->
