---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Input from "@/components/ui/Input.astro";
import BrewCard from "@/components/brewfiles/BrewCard.astro";

const url = new URL(Astro.request.url);
const filter = url.searchParams.get("package") || "";
---

<BaseLayout>
  <Input filter={filter} />
  <div
    class="container grid gap-8 sm:grid-cols-2 md:grid-cols-3 items-start"
    id="brewfiles-grid"
  >
    {Array.from({ length: 9 }).map(() => <BrewCard />)}
  </div>
</BaseLayout>

<script>
  const brewfilesGrid = document.getElementById(
    "brewfiles-grid"
  ) as HTMLDivElement;

  brewfilesGrid?.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    const isInfoButton = target.hasAttribute("data-infobtn");
    if (isInfoButton) {
      const expanded = target.getAttribute("aria-expanded");
      if (expanded === "false") {
        target.setAttribute("aria-expanded", "true");
        target.setAttribute("aria-pressed", "true");
      } else {
        target.setAttribute("aria-expanded", "false");
        target.setAttribute("aria-pressed", "false");
      }
    }
  });

  const createBrewCard = (brew: any) =>
    `<article class="bg-white/5 p-6 rounded-3xl backdrop-blur-4xl flex justify-between relative" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="21:2"> <ul class="font-mono text-2xl uppercase tracking-widest" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="22:60"> <li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="25:13"> <a href="" class="flex items-center gap-2 focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg hover:bg-white/20 ring-accent-bluemedium rounded-full max-w-full aria-[current=page]:bg-white/5 hover:aria-[current=page]:bg-white/20 py-2 px-4" link-packagename="true" target="_blank" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/ui/Link.astro" data-astro-source-loc="46:2"> getsentry/tools </a> </li><li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="25:13"> <a href="" class="flex items-center gap-2 focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg hover:bg-white/20 ring-accent-bluemedium rounded-full max-w-full aria-[current=page]:bg-white/5 hover:aria-[current=page]:bg-white/20 py-2 px-4" link-packagename="true" target="_blank" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/ui/Link.astro" data-astro-source-loc="46:2"> homebrew/bundle </a> </li><li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="25:13"> <a href="" class="flex items-center gap-2 focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg hover:bg-white/20 ring-accent-bluemedium rounded-full max-w-full aria-[current=page]:bg-white/5 hover:aria-[current=page]:bg-white/20 py-2 px-4" link-packagename="true" target="_blank" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/ui/Link.astro" data-astro-source-loc="46:2"> carthage </a> </li><li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="25:13"> <a href="" class="flex items-center gap-2 focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg hover:bg-white/20 ring-accent-bluemedium rounded-full max-w-full aria-[current=page]:bg-white/5 hover:aria-[current=page]:bg-white/20 py-2 px-4" link-packagename="true" target="_blank" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/ui/Link.astro" data-astro-source-loc="46:2"> gh </a> </li><li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="25:13"> <a href="" class="flex items-center gap-2 focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg hover:bg-white/20 ring-accent-bluemedium rounded-full max-w-full aria-[current=page]:bg-white/5 hover:aria-[current=page]:bg-white/20 py-2 px-4" link-packagename="true" target="_blank" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/ui/Link.astro" data-astro-source-loc="46:2"> jq </a> </li><li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="25:13"> <a href="" class="flex items-center gap-2 focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg hover:bg-white/20 ring-accent-bluemedium rounded-full max-w-full aria-[current=page]:bg-white/5 hover:aria-[current=page]:bg-white/20 py-2 px-4" link-packagename="true" target="_blank" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/ui/Link.astro" data-astro-source-loc="46:2"> powerlevel10k </a> </li><li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="25:13"> <a href="" class="flex items-center gap-2 focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg hover:bg-white/20 ring-accent-bluemedium rounded-full max-w-full aria-[current=page]:bg-white/5 hover:aria-[current=page]:bg-white/20 py-2 px-4" link-packagename="true" target="_blank" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/ui/Link.astro" data-astro-source-loc="46:2"> pyenv </a> </li> </ul> <div class="flex flex-col justify-between z-50" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="39:51"> <a href="#" class="flex items-center gap-2 max-w-fit focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg bg-accent-bluedark rounded-full hover:bg-accent-bluemedium ring-accent-bluemedium" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/ui/Link.astro" data-astro-source-loc="46:2">  <div class="bg-white/7 size-9 grid place-items-center rounded-full" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="41:75"> <svg width="13" height="13" viewBox="0 0 18 18" aria-hidden="true" data-icon="external-link" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="117:44">  <symbol id="ai:local:external-link" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="124:28"><path fill="#fff" d="M18 1v13a1 1 0 0 1-2 0V3.414L1.708 17.708a1 1 0 0 1-1.415-1.415L14.586 2H4a1 1 0 0 1 0-2h13a1 1 0 0 1 1 1Z"></path></symbol><use xlink:href="#ai:local:external-link" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/node_modules/astro-icon/components/Icon.astro" data-astro-source-loc="125:10"></use>  </svg> </div>  </a> <div class="group" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="45:24"> <div id="info-panel-7tMfTUyMoGoB5vuVxpaB" class="absolute bg-bkg p-4 pr-12 rounded-xl bottom-4 right-4 hidden group-hover:grid group-focus-within:grid" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="49:8"> <ul class="grid gap-1" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="50:32"> <li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="51:15"> <strong data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="52:21">Name:</strong> <a href="https://github.com/theRubberDuckiee" class="items-center gap-2 max-w-fit focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg ring-accent-bluemedium underline inline hover:text-accent-bluemedium" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/ui/Link.astro" data-astro-source-loc="46:2"> theRubberDuckiee </a> </li> <li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="60:16"><strong data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="60:23">Date:</strong> 3/29/2024</li> <li data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="61:16"><strong data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="61:23">Total:</strong> 7 packages</li> </ul> </div> <a id="info-btn-7tMfTUyMoGoB5vuVxpaB" href="https://github.com/theRubberDuckiee" data-infobtn="" aria-label="Show uploader info" class="hover:bg-white/7 size-9 grid place-items-center rounded-full z-20 isolate focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 ring-offset-bkg ring-accent-bluemedium" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/src/components/brewfiles/BrewCard.astro" data-astro-source-loc="70:8"> <img src="https://avatars.githubusercontent.com/u/13528197?s=48&amp;v=4" data-image-component="true" alt="theRubberDuckiee" aria-hidden="true" class="pointer-events-none rounded-full grayscale" width="35" height="35" loading="lazy" decoding="async" data-astro-source-file="/Users/chris.pennington/cip/Warp/share-brewfiles-website/node_modules/astro/components/Image.astro" data-astro-source-loc="38:2"> </a> </div> </div> </article>`;

  window.addEventListener("DOMContentLoaded", async () => {
    try {
      const res = await fetch("/api/getBrewfiles.json");
      if (!res.ok) {
        throw new Error(res.statusText);
      }
      const brews = await res.json();
      if (brews.status === 400) {
        throw new Error(brews.message);
      }
      brewfilesGrid.innerHTML = brews.brews.map(createBrewCard).join("");
    } catch (e) {
      console.error(e);
    }
  });
</script>

<!--         <p class="font-mono text-3xl uppercase tracking-widest">
          No brewfiles found
        </p> -->
