---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BrewfilesRoute from "@/components/brewfiles/BrewfilesRoute";
---

<BaseLayout
  title="Search for other developers' Brewfiles"
  description="See other developers uploaded Brewfiles.  Use the search functionality to discover the tools other developers use."
>
  <div class="container grid gap-6 sm:gap-12">
    <BrewfilesRoute client:only="react" />
  </div>

  <script>
    import { logSearch } from "@/lib/logSearch";
    const searchParams = window.location.search;
    if (searchParams) {
      logSearch({ search: searchParams.substring(8), type: "route" });
    }
  </script>
</BaseLayout>
