---
// COMPONENTS //
import BaseLayout from "@/layouts/BaseLayout.astro";
import BrewCard from "@/components/BrewCard.astro";

// DATA //
// for prod
// const res = await fetch(`${Astro.url}api/getBrewfiles.json`);
// const brewfiles: Brews = await res.json();

// for dev only so I don’t burn through reads from firebase
import brewfiles from "../data/sampleDocuments.json";
---

<BaseLayout>
  <h1>Brewfiles</h1>
  {brewfiles.brews.map((brew) => <BrewCard entry={brew} />)}
</BaseLayout>
