---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LeaderboardList from "@/components/leaderboard/LeaderboardList.astro";
---

<BaseLayout
  title="Brewfiles leaderboard - find out what tools are the most popular"
  description="Visit Brewfiles leaderboard to discover new tools or to get validation on the tools in your tech stack."
>
  <div class="container">
    <LeaderboardList />
  </div>
</BaseLayout>
