---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LeaderboardList from "@/components/leaderboard/LeaderboardList.astro";
---

<BaseLayout title="Leaderboard for all Brewfiles">
  <div class="container">
    <LeaderboardList />
  </div>
</BaseLayout>
