---
import Heading from "@/components/ui/Heading.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

// get id from urlparam
const id = Astro.url.searchParams.get("id");
---

<BaseLayout title="Success!">
  <div
    class="grid gap-4 place-items-center text-center place-content-center min-h-[76vh]"
  >
    <Heading size={"lg"} tagType="h1">Success!</Heading>
    <p>
      Redirecting to your brewfile in <span id="seconds">3</span> seconds...
    </p>
  </div>

  <script define:vars={{ id }}>
    function initRedirect() {
      const seconds = document.getElementById("seconds");
      let count = 3;
      setInterval(() => {
        if (count > 0) {
          count--;
          seconds.innerText = count;
        }
      }, 1000);

      // redirect to brew/[id]
      if (id) {
        setTimeout(() => {
          window.location.href = `/brew/${id}`;
        }, 3000);
      } else {
        setTimeout(() => {
          window.location.href = "/";
        }, 3000);
      }
    }

    window.addEventListener("DOMContentLoaded", initRedirect());
  </script>
</BaseLayout>
