---
import { contributors } from "@/data/siteData";
import Link from "./ui/Link.astro";
---

<footer class="grid place-items-center p-6">
  <div
    class="flex gap-4 flex-wrap items-center backdrop-blur-4xl py-2 pl-4 pr-2 rounded-[32px] bg-white/7 max-w-fit mx-auto mb-4"
  >
    <p>Thank you to</p>
    <div class="flex gap-2 items-center flex-wrap max-w-fit">
      {
        contributors.map((c) => (
          <Link href={c.href}>
            <span>{c.name}</span>
            <span class="text-white/50">{c.role}</span>
          </Link>
        ))
      }
    </div>
  </div>
</footer>
