---
import BrewCard from "@/components/PackageRow.astro";
// for prod
// const res = await fetch(`${Astro.url}api/getBrewfiles.json`);
// const brewfiles: Brews = await res.json();
import brewfiles from "../data/sampleDocuments.json";
import Heading from "./ui/Heading.astro";
import { Icon } from "astro-icon/components";
import Link from "./ui/Link.astro";
---

<div class="container">
  <div class="flex justify-between items-end">
    <Heading
      tagType="h2"
      size="lg"
      classes="flex items-center max-w-heading flex-wrap gap-2"
    >
      <div class="flex gap-4">
        <div class="px-12 py-6 bg-accent-bluemedium rounded-lg max-w-fit">
          <Icon name="trophy" width={59} height={47} aria-hidden="true" />
        </div>
        <span>Who’s</span>
      </div>
      <span>in the lead?</span>
    </Heading>
    <Link href="brewfiles" size="large" variant={"text"}>
      <span>See all Brewfiles</span>
      <div class="bg-white/7 size-9 grid place-items-center rounded-full -mr-5">
        <Icon name="external-link" size={13} aria-hidden="true" />
      </div>
    </Link>
  </div>
</div>
