---
import { Icon } from "astro-icon/components";
import Link from "./ui/Link.astro";
import Code from "./ui/Code.astro";
import { keyLinks } from "@/data/siteData";
---

<div id="backdrop" class="hidden absolute inset-0 z-40"></div>

<nav class="relative mt-4 flex justify-self-center z-50">
  <div class="flex gap-4 items-center backdrop-blur-4xl p-2 rounded-full z-50 bg-white/7">
  <div class="flex">
    <button
      id="nav-btn"
      aria-label="Show Nav"
      aria-expanded="false"
      aria-pressed="false"
      aria-controls="nav-panel"
      class="flex items-center justify-center backdrop-blur-4xl hover:bg-white/5 rounded-full focus:outline-none focus-visible:ring-4 ring-offset-4 ring-offset-gray-200 ring-blue-medium p-3"
    >
      <div class="flex items-center space-x-3">
        <Icon name="hamburger" size={16} aria-hidden="true" />
        <span id="selectedNavItem" class="px-2"></span>
      </div>
    </button>
  </div>  
  <div class="flex items-center gap-3">
    <p class="flex gap-1">
      <span id="num_uploaded" class="w-3">0</span> files uploaded
    </p>
    <button
      id="info-btn"
      aria-label="Show Info"
      aria-expanded="false"
      aria-pressed="false"
      aria-controls="info-panel"
      class="aria-pressed:bg-white/7 hover:bg-white/7 size-9 grid place-items-center rounded-full z-20 focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 ring-offset-bkg ring-accent-bluemedium"
    >
      <Icon name="info" size={24} aria-hidden="true" />
    </button>
    <a
      id="github-btn"
      href={keyLinks.github}
      target="_blank"
      aria-label="Github Repo"
      aria-expanded="false"
      aria-pressed="false"
      class="p-0 aria-pressed:bg-white/7 hover:bg-white/7 size-9 grid place-items-center rounded-full z-20 focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 ring-offset-bkg ring-accent-bluemedium -ml-2 mr-2"
      >
      <Icon name="github" size={22} aria-hidden="true" />
    </a>
  </div>
  </div>
  <div
    aria-labelledby="info-btn"
    id="info-panel"
    class="hidden gap-8 bg-white/5 rounded-[32px] absolute -inset-x-2 -top-2 backdrop-blur-3xl shadow-custom px-5 pt-24 pb-8 text-white/75 z-40"
  >
    <div class="grid gap-4">
      <div class="grid gap-2">
        <p class="font-bolder text-2xl text-white">What is a Brewfile?</p>
        <p>
          Homebrew is one of the most popular package managers for MacOS and
          Linux. People use it to download command-line tools (like tmux,
          LazyDocker, and NeoVim), libraries (like C, C++, and Rust), dev
          environments (like MySQL, Apache, and Nginx), and applications (like
          Warp, Raycast, or Zoom).
        </p>
      </div>
      <p>
        Brewfiles is just a simple txt file that includes all packages and
        applications that are installed on the system via Homebrew.
      </p>
    </div>
    <div class="grid gap-4">
      <p class="font-bolder text-2xl text-white">Uploading a Brewfile</p>
      <p>
        To upload your brewfile, run the following command in your terminal:
      </p>
      <div class="group max-w-fit relative">
        <a href="warp://action/new_window">
          <Code class="animate-pulse">npx dockhunt</Code>
        </a>
        <p class="absolute top-1/2 left-full transform -translate-y-1/2 bg-black text-white text-center text-sm px-2 py-1.5 rounded opacity-0 transition-opacity duration-300 ml-2 w-44 opacity-0 group-hover:opacity-100">
          Click to open command in
          <a class="underline" href="https://warp.dev" target="_blank">Warp</a> 
          terminal
        </p>
      </div>
      
      <p>The command will:</p>
      <ol class="list-inside list-decimal">
        <li>Find the apps in your dock</li>
        <li>Upload any icons not yet in our database</li>
        <li>Create a dock on this website</li>
      </ol>
      <Link href={keyLinks.github}
        ><span>View source code on Github</span>
        <div
          class="bg-white/7 size-9 grid place-items-center rounded-full -mr-2"
        >
          <Icon name="external-link" size={13} aria-hidden="true" />
        </div>
      </Link>
      <Link href={keyLinks.npm}
        ><span>View npm package</span>
        <div
          class="bg-white/7 size-9 grid place-items-center rounded-full -mr-2"
        >
          <Icon name="external-link" size={13} aria-hidden="true" />
        </div>
      </Link>
    </div>
  </div>
  <div
    aria-labelledby="nav-btn"
    id="nav-panel"
    class="hidden bg-white/5 rounded-t-[32px] rounded-b-3xl absolute -inset-x-2 -top-2 backdrop-blur-3xl shadow-custom px-2 pt-[85px] pb-2 text-white/75 z-40"
  >
    <Link id='navItem' variant={"nav"} href="/">Welcome!</Link>
    <Link id='navItem' variant={"nav"} href="/leaderboard">Leaderboard</Link>
    <Link id='navItem' variant={"nav"} href="/brewfiles">All Brewfiles</Link>
  </div>
</nav>

<script>
  import "@/lib/handleNav";
import { navItemDisplay } from "@/types/navItem";

  const codeContainer = document.getElementById('codeContainer');
  codeContainer?.addEventListener('mouseenter', () => {
    codeContainer?.classList.remove('animate-pulse');
  })

  const currentPath = window.location.pathname;
  let selectedNavItem = document.getElementById("selectedNavItem") as HTMLSpanElement;
  selectedNavItem.textContent = navItemDisplay[currentPath];

</script>
