---
import CardWrapper from "./CardWrapper.astro";
import { Icon } from "astro-icon/components";
---

<CardWrapper name="brewfiles">
  <div class="grid gap-2 place-items-center place-content-center">
    <Icon name="brewfiles" size={120} class={"size-16 sm:size-28"} />
    <p class="sm:text-lg">brewfiles.com</p>
    <p class="text-2xs -mt-2">Built by Warp</p>
  </div>
</CardWrapper>
