---
import type { PersonalitySummary } from "@/types/personality";
import CardWrapper from "./CardWrapper.astro";

type Props = {
  description: PersonalitySummary["description"];
};

const { description } = Astro.props;
---

<CardWrapper name="desc">
  <p
    class="grid place-items-center sm:text-[1.28rem] text-white/70 text-pretty xl:min-h-32"
  >
    {description}
  </p>
</CardWrapper>
