---
import type { PersonalitySummary } from "@/types/personality";
import CardWrapper from "./CardWrapper.astro";

type Props = {
  totalPackagesUploaded: PersonalitySummary["totalPackagesUploaded"];
  totalPackagesUploadedComparitive: PersonalitySummary["totalPackagesUploadedComparitive"];
};
const { totalPackagesUploadedComparitive, totalPackagesUploaded } = Astro.props;

const processedRank = () => {
  const isAboveAverage = totalPackagesUploadedComparitive > 0;

  return {
    measurement: {
      spatial: isAboveAverage ? "above" : "below",
      quantitative: isAboveAverage ? "more" : "fewer",
    },
  };
};
---

<CardWrapper name="ranking">
  <div class="grid gap-4 place-items-center place-content-center">
    <p class="text-white/70 text-pretty">
      <span class="hidden sm:inline"
        >With {totalPackagesUploaded} packages installed, y</span
      ><span class="sm:hidden">Y</span>ou’ve installed {
        Math.abs(totalPackagesUploadedComparitive)
      }
      {processedRank().measurement.quantitative} packages when compared to the average
      uploader.
    </p>
    <p
      class="text-lg sm:text-xl uppercase text-balance leading-heading tracking-widest font-mono"
    >
      {Math.abs(totalPackagesUploadedComparitive)}
      {processedRank().measurement.spatial} average
    </p>
  </div>
</CardWrapper>
