---
import { baseData } from "@/data/siteData";

// fonts
import "@fontsource/dm-mono";
import "@fontsource-variable/dm-sans";
import Lines from "@/components/ui/Lines.astro";
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";

const { title = baseData.title, description = baseData.description } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#111111" />
    <meta name="color-scheme" content="dark" />
    <title>{title}</title>
  </head>
  <body class="bg-bkg text-white leading-[1.35]">
    <div class="max-w-[2200px] mx-auto relative min-h-screen overflow-hidden">
      <Lines />
      <div class="grid gap-8 grid-rows-[auto_1fr_auto] min-h-screen">
        <Nav />
        <main class="grid gap-20 items-start content-start">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
    <style is:global>
      @media (prefers-reduced-motion: reduce) {
        html:focus-within {
          scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
        }
      }
    </style>
  </body>
</html>
