---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";

// get params for page
const url = new URL(Astro.request.url);
const filter = url.searchParams.get("filter") || "";
---

<form
  class="relative rounded-full bg-white/10 w-full p-2 max-w-xl mx-auto flex gap-4 transition-all focus-within:ring-4 ring-offset-4 ring-offset-bkg ring-accent-bluemedium flex-row-reverse backdrop-blur-4xl"
>
  <input
    type="search"
    name="brew-search"
    id="brew-search"
    value={filter}
    class="bg-transparent focus:outline-none w-full text-3xl uppercase tracking-widest font-mono"
  />
  <Button variant={"text"} size={"round"}>
    <Icon name="search" size={24} />
  </Button>
</form>

<style>
  /* clears the 'X' from Internet Explorer */
  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
</style>
