<div class="absolute inset-0 flex justify-between">
  <div class="w-8 h-full border-r border-white/15 hidden md:block"></div>
  <div class="w-4 h-full border-x border-white/15"></div>
  <div class="w-4 h-full border-x border-white/15"></div>
  <div class="w-4 h-full border-x border-white/15"></div>
  <div class="w-8 h-full border-l border-white/15 hidden md:block"></div>
</div>
