---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";
import { twMerge } from "tailwind-merge";

const link = cva(
  "flex items-center gap-2 max-w-fit focus:outline-none transition-all focus-visible:ring-4 ring-offset-4 leading-tight ring-offset-bkg",
  {
    variants: {
      variant: {
        bland: "",
        default:
          "bg-white/10 ring-accent-bluemedium rounded-full hover:bg-white/20",
        accent:
          "bg-accent-bluedark rounded-full hover:bg-accent-bluemedium ring-accent-bluemedium",
        text: "ring-accent-bluemedium rounded-full hover:bg-white/10 hover:backdrop-blur-3xl",
        nav: "hover:bg-white/20 ring-accent-bluemedium rounded-full max-w-full aria-[current=page]:bg-white/5 hover:aria-[current=page]:bg-white/20",
        code: "rounded-lg ring-accent-bluemedium",
        icon: "ring-accent-bluemedium",
      },
      size: {
        default: "py-2 px-4",
        large: "px-8 py-3 gap-4 text-2xl",
        icon: "",
      },
    },
    defaultVariants: {
      variant: "default",
      size: "default",
    },
  }
);

export interface Props extends HTMLAttributes<"a">, VariantProps<typeof link> {
  href: string;
  classes?: string;
}

const { classes, size, href, variant, ...rest } = Astro.props;
---

<a
  href={href}
  class:list={[twMerge(link({ size, variant }), classes)]}
  {...rest}
>
  <slot />
</a>
